<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Index page</h1>

<ul>
    <li><a class="link-offset-3" th:href="@{/about}">About</a></li>
    <li><a class="link-offset-3" th:href="@{/login}">Login</a></li>
    <li><a class="link-offset-3" th:href="@{/registration}">Registration</a></li>
    <li><a class="link-offset-3" th:href="@{/logout}">Logout</a></li>
    <li><a class="link-offset-3" th:href="@{/author/list}">Show Authors</a></li>
    <li><a class="link-offset-3" th:href="@{/author/add}">Add Author</a></li>
    <li><a class="link-offset-3" th:href="@{/book/list}">Show Books</a></li>
    <li><a class="link-offset-3" th:href="@{/book/onhand}">Show Books on hand</a></li>
    <li><a class="link-offset-3" th:href="@{/book/instock}">Show Books in stocks</a></li>
    <li><a class="link-offset-3" th:href="@{/book/overdue}">Show Books overdue</a></li>
    <li><a class="link-offset-3" th:href="@{/book/gives}">Give Book</a></li>
</ul>
</body>
</html>